@use '../../../../../../libs/ui/src/lib/ui/styles/typing';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 var(--space-3);
  margin-bottom: var(--space-3);

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
    text-decoration: none;
  }

  &__title {
    font-family: typing.$tiny5;
    font-weight: bold;
    font-size: var(--font-size-5);
    color: white;
  }

  &__icon {
    height: 100%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
  }
}
