<div class="user-profile">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="user-profile__content main-container flex flex-column"
  >
    <h2>User profile</h2>
    <ui-input-text
      label="Soldier name"
      formControlName="name"
      [readOnly]="!isEditMode()"
    />
    @if (user(); as user) {}
    <p>Gender: {{ characterLabels[user()!.character] }}</p>
    <p>Character: {{ genderLabels[user()!.gender] }}</p>
    <div>
      @if (isEditMode()) {

      <ui-button
        label="Cancel"
        design="text"
        (onClick)="isEditMode.set(false)"
      />
      <ui-button label="Submit" type="submit" [isLoading]="isLoading()" />
      } @if(!isEditMode()) {
      <ui-button label="Edit" (onClick)="isEditMode.set(true)" />
      }
    </div>
  </form>
</div>
